# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
*.local

# Environment variables
.env
.env.local
.env.*.local
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/
*.lcov

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~
.project
.classpath
.settings/

# OS files
.DS_Store
.DS_Store?
._*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.Spotlight-V100
.Trashes

# Temporary files
*.tmp
*.temp
.cache/
.parcel-cache/

# Database
*.sqlite
*.sqlite3
*.db
data/

# Supabase
.temp/
supabase/.branches/
supabase/.temp/
**/supabase/.branches/
**/supabase/.temp/

# Vercel
.vercel/

# Lock files (optional)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
backend/package-lock.json
GRADUS-APP/
/gradus-mobile
/gradus-mobile
Gradus app.pdf
/GRADUS-APP
/email
/backend
/backend
